In [2]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('../data/raw/opensky_asia.csv')
df.head()

,timestamp,icao24,callsign,latitude,longitude,baro_altitude,velocity,vertical_rate,true_track,on_ground
0,2026-02-13 16:28:11,80162c,AXB321,22.4359,49.5145,10363.20,217.83,0.00,280.75,False
1,2026-02-13 16:28:11,801640,AIC2303,16.4021,96.0041,10965.18,233.14,0.33,303.94,False
2,2026-02-13 16:28:11,801645,AIC1863,28.5596,77.0890,NaN,0.00,NaN,278.44,True
3,2026-02-13 16:28:11,80162f,AIC212,28.6025,81.5784,10363.20,175.82,0.00,286.31,False
4,2026-02-13 16:28:11,80163c,IGO243H,25.5450,76.8816,11894.82,246.10,0.00,177.72,False

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1111897 entries, 0 to 1111896
Data columns (total 10 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   timestamp      1111897 non-null  object
 1   icao24         1111897 non-null  object
 2   callsign       1089066 non-null  object
 3   latitude       1111897 non-null  float64
 4   longitude      1111897 non-null  float64
 5   baro_altitude  1044510 non-null  float64
 6   velocity       1111765 non-null  float64
 7   vertical_rate  1041187 non-null  float64
 8   true_track     1111897 non-null  float64
 9   on_ground      1111897 non-null  bool
dtypes: bool(1), float64(6), object(3)
memory usage: 77.4+ MB

In [5]:
df.describe()

,latitude,longitude,baro_altitude,velocity,vertical_rate,true_track
count,1.111897e+06,1.111897e+06,1.044510e+06,1.111765e+06,1.041187e+06,1.111897e+06
mean,2.683232e+01,7.248825e+01,8.268019e+03,1.966625e+02,-1.590262e-01,1.822918e+02
std,1.087848e+01,3.437332e+01,3.719055e+03,7.726378e+01,5.070724e+00,1.011092e+02
min,-8.402300e+00,2.500000e+01,-3.048000e+02,0.000000e+00,-1.463000e+02,0.000000e+00
25%,1.994330e+01,3.849830e+01,5.539740e+03,1.604300e+02,-3.300000e-01,1.020400e+02
50%,2.554850e+01,7.450590e+01,1.005840e+04,2.188600e+02,0.000000e+00,1.637300e+02
75%,3.553950e+01,1.014637e+02,1.097280e+04,2.472000e+02,0.000000e+00,2.805000e+02
max,5.499960e+01,1.449448e+02,3.819144e+04,1.409770e+03,1.658100e+02,3.598900e+02

In [6]:
"""drop null rows"""
df = df.dropna(subset=["latitude", "longitude"])

In [7]:
df.dtypes

timestamp         object
icao24            object
callsign          object
latitude         float64
longitude        float64
baro_altitude    float64
velocity         float64
vertical_rate    float64
true_track       float64
on_ground           bool
dtype: object

In [ ]:
df.to_csv(
    "../data/clean/opensky_asia_clean.csv",
    index=False
)